<div style="height: 500px; margin-bottom: 30px;">
<form (ngSubmit)="sendSanguche()">
  <div class="box">
  <div>
    <input  placeholder="Nombre del sanguche" type="text" id="nombre" [(ngModel)]="sanguche.nombre" name="nombre" required>
  </div>
  <div class="amigo">
    <label for="ingredientes">Seleccionar 3 Ingredientes</label>
    <br/>
    <select id="ingredientes" [(ngModel)]="sanguche.ingredientes" name="ingredientes" multiple>

      <option *ngFor="let ingrediente of availableIngredientes" [value]="ingrediente">{{ ingrediente }}</option>

    </select>
  </div>
  <button type="submit">Enviar</button>
</div>
</form>
</div>