.Scope{
    font-family: "Scope One", serif;
    font-weight: 1000;
    color: rgb(202, 202, 202);
    font-style: italic;
    margin-bottom: 50px;
}


.register-box{
    background-color: rgb(31, 42, 44);
    padding: 30px;
    padding-top: 10px;
    border: 2px solid rgb(68, 77, 79);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;

}

.logo{
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin-bottom: -30px;
}

.register-box h2{
    text-align: center;
    font-weight: 900;
}

.container{
    display: flex;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

label{
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 7px;
    margin-top: 15px;

}

.left{
    display:flex;
    align-items: baseline;
    justify-content: left;
    align-content: baseline;
    justify-items: left;
}


input{
    border: 2px solid rgb(68, 77, 79);  
    color: rgb(203, 203, 203);
    border-radius: 8px;
    font-size: 15px;
    text-indent: 5px;
    background-color: rgb(26, 34, 36);
    height: 25px;
    padding: 3px;
    width: 97%;
    font-family: Arial, Helvetica, sans-serif;
}

input[type='checkbox'] { 
    background-color: aqua;
    color: black;
    margin: 0;
    width: 20px;
    border-radius: 10px;
}

input:hover{
    border: 2px solid rgb(74, 255, 74);
}

button{
    background-color: rgb(74, 255, 74);
    height: 50px;
    border: none;
    border-radius: 100px;
    color: black;
    font-weight: 600;
    font-size: large;
    margin-top: 30px;
}

button:hover{
    background-color: rgb(107, 250, 107);
    color: black;
}

.centrar{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.centrar h2, h1{
    text-align: center;
    font-weight: 900;
}

