<div class="auth-container" *ngIf="notLoggedIn">
  <div class="form-toggle">
    <button (click)="isLogin = true" [class.active]="isLogin">Login</button>
    <button (click)="isLogin = false" [class.active]="!isLogin">Register</button>
  </div>

  <form *ngIf="isLogin" (ngSubmit)="login()">
    <h2>Login</h2>
    <label for="email">Email</label>
    <input type="text" id="email" [(ngModel)]="user.email" name="email" required />

    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="user.password" name="password" required />

    <button type="submit">Login</button>
  </form>

  <form *ngIf="!isLogin" (ngSubmit)="register()">
    <h2>Register</h2>
    <label for="username">Username</label>
    <input type="text" id="username" [(ngModel)]="user.username" name="username" required />

    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="user.email" name="email" required />

    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="user.password" name="password" required />

    <label for="isAdmin">Admin</label>
    <input type="checkbox" id="isAdmin" [(ngModel)]="user.isAdmin" name="isAdmin" />

    <button type="submit">Register</button>
  </form>
</div>
<!-- logout button -->
<button *ngIf="!notLoggedIn" (click)="logout()">Logout</button>
